.a-video-background {
    position: relative;
    overflow: hidden;
}

.a-video-background video,
.a-video-background iframe {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.a-video-background__controls {
    --a-video-gutter: 20px;

    /* use `top: 100%` minus the gutter as `bottom: 0` breaks the vertical alignment of the icon and text in the button in Chrome */
    position: absolute;
    z-index: 2;
    top: calc(100% - var(--a-video-gutter));
    right: var(--a-video-gutter);
    transform: translateY(-100%);
  }

.a-video-background--16x9 {
    padding-top: calc((9 / 16) * 100%);
}

.a-video-background--4x3 {
    padding-top: calc((3 / 4) * 100%);
}

.a-video-background--1x1 {
    padding-top: 100%;
}
